<!-- The header tag defines the top section of the webpage; styled to be sticky, full width, centered, and of a certain height -->
<header class="z-50 sticky w-full flex items-center justify-center h-24">
  <!-- A div for the navbar, with background color, rounded corners, fixed position, and width slightly less than full -->
  <div class="navbar bg-primary rounded-xl fixed w-11/12">
    <!-- Container for the logo or title of the website; flex-1 makes it expand to fill available space -->
    <div class="flex-1 gap-64">
      <!-- A link representing the brand or title of the website, styled as a large text button -->
      <a class="btn btn-ghost text-xl " routerLink="">Shop.com</a>
    </div>

    <!-- Container for navigation items; flex-none prevents it from expanding -->
    <div class="flex-none">
      <!-- An unordered list for navigation links, styled horizontally with padding; on mouseenter, sets a variable isEnter to true -->
      <ul class="menu menu-horizontal px-1" (mouseenter)="isEnter = true">

        <!-- List item for a dropdown menu -->
        <li>
          <!-- The details tag creates a dropdown; #categories is a template reference variable; on mouseenter, calls toggleDetails function -->
          <details #categories (mouseenter)="toggleDetails(categories, true)">
            <!-- The summary tag provides a visible header for the dropdown -->
            <summary>Categories</summary>
            <!-- Nested unordered list for dropdown items; on mouseleave, calls toggleDetails function -->
            <ul class="p-2 bg-base-100 rounded-t-none z-50" (mouseleave)="toggleDetails(categories, false)">
              <!-- Dropdown item with a router link -->
              <li class="z-50"><a routerLink="categories">Categories</a></li>
              <!-- Another dropdown item with a router link -->
              <li *ngIf="isAdmin" class="z-50"><a routerLink="categories/create">Create</a></li>
            </ul>
          </details>
        </li>

        <!-- Additional list items for other menu sections -->
        <li>
          <!-- Similar dropdown structure for 'Products' section -->
          <details #products (mouseenter)="toggleDetails(products, true)">
            <summary>Products</summary>
            <ul class="p-2 bg-base-100 rounded-t-none" (mouseleave)="toggleDetails(products, false)">
              <li><a routerLink="products/">Products</a></li>
              <li *ngIf="isAdmin"><a routerLink="products/create">Create</a></li>
            </ul>
          </details>
        </li>

        <!-- List item for user's login or profile details -->
        <li *ngIf="isLogin">
          <details #login (mouseenter)="toggleDetails(login, true)">
            <!-- Summary dynamically changes based on login state -->
            <summary *ngIf="isLogin">{{name}}</summary>
            <summary *ngIf="!isLogin">Login</summary>
            <ul class="p-2 bg-base-100 rounded-t-none" (mouseleave)="toggleDetails(login, false)">
              <!-- Conditional rendering for admin-specific options -->
              <li *ngIf="isAdmin"><a routerLink="admin">Show all User</a></li>
            </ul>
          </details>
        </li>

        <!-- Link for users to login; visible only when not logged in -->
        <li>
          <a routerLink="auth/login" *ngIf="!isLogin">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>