<!-- Loading Indicator Section -->
<div *ngIf="isLoading" class="h-full w-full flex items-center justify-center">
    <!-- Displays a loading spinner while data is being loaded or processed -->
    <span class="loading loading-infinity w-28 h-28 bg-primary"></span>
</div>

<!-- Search Input Section -->
<div class="flex w-full justify-center items-center">
    <!-- Search input for categories, updates searchText and triggers onSearch() on change -->
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearch()"
        placeholder="Type here to Search a Category"
        class="input input-bordered input-info w-11/12 max-w mt-8 fixed z-40" />
</div>

<!-- Spacer for layout -->
<div class="h-20"></div>

<!-- Category Display and Interaction Section -->
<div class="flex flex-col w-full justify-center">
    <!-- Loop through filteredCategories to display each category -->
    <div *ngFor="let category of filteredCategories" class="flex justify-center">
        <!-- Edit mode: Button to navigate to edit page for the selected category -->
        <button *ngIf="isEdit" class="btn glass w-11/12 mt-2"
            routerLink="edit/{{category.id}}">{{category.name}}</button>
        <!-- Selection mode: Button to navigate to products page for the selected category -->
        <button *ngIf="!isEdit" class="btn glass w-11/12 mt-2"
            routerLink="{{category.id}}/products">{{category.name}}</button>

    </div>
</div>
<div class="h-24"></div>

<!-- Toggle Button between Edit and Select Modes -->
<button *ngIf="!isEdit; else selectCat" class="btn btn-secondary w-38 mt-10 fixed bottom-32 right-10"
    (click)="isEdit = !isEdit">
    Edit Categories</button>

<!-- Template for Select Mode Button -->
<ng-template #selectCat>
    <button *ngIf="isEdit" class="btn btn-secondary w-38 mt-10 fixed bottom-32 right-10" (click)="isEdit = !isEdit">
        Select Categories</button>
</ng-template>