<footer>
    <mat-toolbar color="secondary">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <span class="tiny-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <span class="tiny -spacer"></span>
        <mat-chip routerLink="impressum" >Impressum</mat-chip>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</footer>