<div class="flex w-full h-5/6 justify-center items-center flex-col">
    <div class="card w-8/12 glass h-3/5">
        <figure><img src="{{product?.image}}" alt="car!" class="w-full "/></figure>
        <div class="card-body">
          <h2 class="card-title items-center justify-center text-primary ">{{product?.name}}</h2>
          <p>Description: <br>{{product?.description}}</p>
            <p>Category: {{product?.category?.name}}</p>
          <div class="card-actions justify-end">
            <p>{{product?.price | currency}}</p>
            <p>{{product?.stock}} stk</p>
          </div>
        </div>
      </div>
      <div class="h-10"></div>
      <button class="btn glass w-38 mt-10 "
       (click)="navigateBack()" >
    Back !</button>
</div>