<!-- Loading Indicator Section -->
<div *ngIf="isLoading" class="h-full w-full flex items-center justify-center">
    <!-- Displays a loading spinner while data is being loaded or processed -->
    <span class="loading loading-infinity w-28 h-28 bg-primary"></span>
</div>

<!-- Search Input Section -->
<div class="flex w-full justify-center items-center">
    <!-- Search input for categories, updates searchText and triggers onSearch() on change -->
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearch()" placeholder="Type here to Search a User"
        class="input input-bordered input-info w-11/12 max-w mt-8 fixed z-40" />
</div>

<!-- Spacer for layout -->
<div class="h-20"></div>

<!-- Category Display and Interaction Section -->
<div class="flex flex-col w-full justify-center">
    <!-- Loop through filteredCategories to display each category -->
    <div *ngFor="let category of filteredCategories" class="flex justify-center">
        <!-- Edit mode: Button to navigate to edit page for the selected category -->
        <button *ngIf="isPromote" class="btn glass w-11/12 mt-2"
            (click)="promoteAdmin(category.id!)">{{category.email}}</button>
        <!-- Selection mode: Button to navigate to products page for the selected category -->
        <button *ngIf="!isPromote" class="btn glass w-11/12 mt-2">First Name: {{category.firstName}} | Last Name:
            {{category.lastName}} | Country: {{category.country}} | Email: {{category.email}} </button>

    </div>
</div>
<div class="h-40"></div>

<!-- Toggle Button between Edit and Select Modes -->
<div class=" fixed bottom-32 w-full flex justify-center gap-2 ">
    <button *ngIf="isPromote" class="btn btn-secondary w-38 mt-10 " (click)="isPromote = !isPromote">
        Show User</button>
    <button *ngIf="!isPromote" class="btn btn-secondary w-38 mt-10" (click)="isPromote = !isPromote ">
        Promote User</button>

</div>