<!-- Main container for the error display, centered both vertically and horizontally -->
<div class="h-4/5 w-full flex justify-center items-center">

  <!-- Container for the error message with a width of 11/12 of its parent -->
  <div class="w-11/12">
    <!-- Alert component indicating an error, with a specified height and center alignment -->
    <div role="alert" class="alert alert-error h-64 flex justify-center">
      <!-- SVG icon for the error, styled with stroke properties -->
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-10 w-10" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <!-- Error message text with large font size -->
      <span class="text-4xl font-thin">Page Not Found</span>
    </div>
  </div>
</div>